NODE_ENV=production/development
MONGODB_URI=your_mongodb_connection
CLOUD_NAME=your_cloudinary_username
CLOUD_API_KEY=your_cloudinary_api_key
CLOUD_API_SECRET=your_cloudinary_api_secret
MONGO_STORE_SECRET=your_session_secret