<nav>
    <div class="container categories">
        <a href="/listings/" class="category">
            <i class="fa-solid fa-house"></i>
            <p>All</p>
        </a>
        <a href="/listings/search?category=trending" class="category">
            <i class="fa-solid fa-fire"></i>
            <p>Trending</p>
        </a>
        <a href="/listings/search?category=mountains" class="category">
            <i class="fa-solid fa-mountain"></i>
            <p>Mountains</p>
        </a>
        <a href="/listings/search?category=forest" class="category">
            <i class="fa-solid fa-tree"></i>
            <p>Forest</p>
        </a>
        <a href="/listings/search?category=hotels" class="category">
            <i class="fa-solid fa-bed"></i>
            <p>Hotels</p>
        </a>
        <a href="/listings/search?category=snow" class="category">
            <i class="fa-solid fa-snowflake"></i>
            <p>Snow</p>
        </a>
        <a href="/listings/search?category=beach" class="category">
            <i class="fa-solid fa-umbrella-beach"></i>
            <p>Beach</p>
        </a>
    </div>
</nav>