<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"
      ><i class="fa-solid fa-hotel"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav nav-left">
        <a class="nav-link" href="/listings">All Listings</a>
        <a class="nav-link" href="/listings/new">Add New Listing</a>
      </div>

      <div class="navbar-nav nav-center">
        <form class="d-flex" role="search" id="searchbar" action="/listings/category">
          <input class="form-control search-input me-3 text-center" type="search" placeholder="Search Categories" name="category"/>
          <button class="btn btn-search" type="submit">Search</button>
        </form>
      </div>

      <div class="navbar-nav nav-right">
        <% if(!currUser) { %>
        <a class="nav-link" aria-current="page" href="/signup">Signup</a>
        <a class="nav-link" aria-current="page" href="/login">Login</a>
        <% } %>
        <% if(currUser) { %>
          <div class="text-center">
            <a class="btn btn-dark" aria-current="page" href="/logout">Logout</a>
          </div>
        <% } %>        
      </div>
    </div>
  </div>
</nav>
